APP_BASE_URL=https://seu-dominio.vercel.app
APP_FIREBASE_WEB_API_KEY=sua-web-api-key-do-firebase
APP_FIREBASE_PROJECT_ID=apptv-2277f
APP_FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@apptv-2277f.iam.gserviceaccount.com
APP_FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"
APP_TELEGRAM_URL=https://t.me/seuusuario
APP_APK_DOWNLOAD_URL=/app-tv-android.apk
