FIREBASE_PROJECT_ID=seu-projeto-firebase
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxx@seu-projeto-firebase.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="AIzaSyDqlyp8o4QrWaDdCGLn2G_UGgeg7r8rNW8\n"
APP_BASE_URL=https://app-tv-psi.vercel.app
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-SEU_ACCESS_TOKEN
